
@{
    Layout = null;
}
<!DOCTYPE html>
<html>

<!-- Head -->
<head>

    <title>Đăng nhập Child Profile</title>
    <!-- Style -->
    <link href="~/Content/login.css" rel="stylesheet" /> 
</head>
<!-- //Head -->
<!-- Body -->
<body>
    <div class="left">
        <h1>
            <img class="logo" src="/img/logo.png" />
        </h1>
        <div class="containeragileits">
            <h2>Login</h2>
            <form action="#" method="post">
                <input type="text" Name="Username" placeholder="Tên đăng nhập" required="">
                <input type="password" Name="Password" placeholder="Mật khẩu" required="">
                <div class="aitssend">
                    <a href="/homes/hstrangchu">
                        <input type="button" value="LOGIN">
                    </a>
                    <p> Quên mật khẩu?</p>
                    <div class="clear"></div>
                </div>
            </form>
        </div>
        <div class="footer">
            <p> &copy; 2018 Child Profile</p>
        </div>
    </div>
    <div class="right">

    </div> 
</body>
<!-- //Body -->

</html>
