@{ string type = ViewBag.type; string id = Guid.NewGuid().ToString();}
<div class="col-md-12 col-sm-12 col-xs-12 list-answer" id="answer_@id">
    <div class="form-group">
        <div class="controls">
            <input type="text" typeof="2" style="width:80%" disabled class="form-control" />
        </div>
    </div>
</div>

