@{
    Layout = "~/Views/Shared/_LayoutAuthorize.cshtml";
}

<div class="content" id="authorize">
    <h2 style="font-size:18px;font-weight:700">@InformationHub.Resource.Resource.Authorize_Forward_Password</h2>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
                <label class="form-label">@InformationHub.Resource.Resource.Authorize_Name<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" class="form-control" id="ForwardPassword_UserName" ntsvalidate="required">
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
                <label class="form-label">@InformationHub.Resource.Resource.Authorize_Confirm_Email<span class="required">*</span></label>
                <div class="controls">
                    <input type="text" class="form-control" id="ForwardPassword_Email" ntsvalidate="required">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input type="button" id="btnForwardPassword" value="@InformationHub.Resource.Resource.Label_Next">
        </div>
    </div>
</div>
