<ul class="wraplist wrapper-menu">
    <li ui-sref-active="active">
        <a class="nosub" href="/category">
            <i class="material-icons">dashboard</i>
            <span class="title">Nhóm tin</span>
        </a>
    </li>

    <li ui-sref-active="active">
        <a class="nosub" href="/menu">
            <i class="material-icons">archive</i>
            <span class="title">Menu</span>
        </a>
    </li>


</ul>
