
@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<!-- Head -->
<head>

    <title>Đăng nhập Swipe Safe</title>
    <!-- Style -->
    <link href="~/Content/login.css" rel="stylesheet" />

    <!-- Fonts -->
    <link href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
    <!-- //Fonts -->

</head>
<!-- //Head -->
<!-- Body -->
<body>

    <h1>SWIPE SAFE</h1>

    <div class="containeragileits">
        <h2>Login</h2>
        <form action="#" method="post">
            <input type="text" Name="Username" placeholder="Tên đăng nhập" required="">
            <input type="password" Name="Password" placeholder="Mật khẩu" required="">
            <div class="aitssend">
                <a href="/home/trangchu">
                    <input type="button" value="LOGIN">
                </a>
                <p> Quên mật khẩu?</p>
                <div class="clear"></div>
            </div>
        </form>
    </div>

    <div class="footer">
        <p> &copy; 2018 Swipe Safe</p>
    </div>
</body>
<!-- //Body -->

</html>
