
@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="wrapper main-wrapper">
    <div ui-view="" class="ng-scope">
        <div class="content-wrapper">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <section class="box ">
                    <header class="panel_header">
                        <h2 class="title pull-left">Tìm kiếm</h2>
                        <div class="actions panel_actions pull-right">
                            <i class="box_toggle material-icons">expand_more</i>
                        </div>
                    </header>
                    <div class="content-body padding-bottom-10">
                        <div class="row">
                            <div class="col-md-3 col-sm-4 col-xs-4">
                                <div class="form-group">
                                    <label class="form-label" for="field-1">Tên mẫu câu chuyện</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <input type="text" class="form-control" id="field-1">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4 col-xs-4">
                                <div class="form-group">
                                    <label class="form-label" for="field-1">Loại mẫu</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <select class="form-control ">
                                            <option value="Default Select">Tất cả</option>
                                            <option value="Option 1">Option 1</option>
                                            <option value="Option 2">Option 2</option>
                                            <option value="Option 3">Option 3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                           
                            <div class="col-md-6 col-sm-4 col-xs-4 text-right">
                                <div class="form-group margin-top-20">
                                    <button class="btn btn-success btn-icon right10">
                                        <i class="fa fa-search"></i> &nbsp; <span>Tìm kiếm</span>
                                    </button>
                                    <button class="btn btn-success btn-icon right10">
                                        <i class="fa fa-refresh"></i> &nbsp; <span>Làm mới</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                         
                    </div>
                </section>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <section class="box ">
                    <header class="panel_header">
                        <h2 class="title pull-left">Danh sách mẫu câu chuyện về trẻ</h2>
                        <div class="actions panel_actions pull-right">
                            <i class="box_toggle material-icons">expand_more</i>
                        </div>
                    </header>
                    <div class="content-body padding-bottom-10">
                         
                        <div class="row margin-bottom-5">
                            <div class="col-md-9 col-sm-9 col-xs-9 text-left">
                                <h4>
                                    Tổng số <b class="badge badge-primary">5</b> mẫu câu chuyện
                                </h4>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 text-right">
                                <a href="/home/hsthemmaucauchuyen" class="btn btn-success">
                                    <i class="fa fa-plus"></i> &nbsp; <span>Tạo mới</span>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="margin-bottom-10">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th width="50px">STT</th>
                                                <th>Tên mẫu câu chuyện</th>
                                                <th>Loại mẫu</th>
                                                <th>Ngày cập nhật</th>
                                                <th width="100px">Trạng thái</th>
                                                <th width="140px">Chức năng</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>Mẫu câu chuyện 01</td>
                                                <td>Trẻ mầm non</td>
                                                <td>11/11/2014</td>
                                                <td>
                                                    <label class="iswitch bg-accent ">
                                                        <input type="checkbox" checked="">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-xs btn-warning" title="Cập nhật"><i class="material-icons">edit</i></button>
                                                    <button type="button" class="btn btn-xs btn-danger" title="Xóa mẫu"><i class="material-icons">delete</i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>Mẫu câu chuyện 02</td>
                                                <td>Trẻ mẫu giáo</td>
                                                <td>11/11/2014</td>
                                                <td>
                                                    <label class="iswitch bg-accent ">
                                                        <input type="checkbox" checked="">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-xs btn-warning" title="Cập nhật"><i class="material-icons">edit</i></button>
                                                    <button type="button" class="btn btn-xs btn-danger" title="Xóa mẫu"><i class="material-icons">delete</i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>Mẫu câu chuyện 03</td>
                                                <td>Trẻ cấp 1</td>
                                                <td>11/11/2014</td>
                                                <td>
                                                    <label class="iswitch bg-accent ">
                                                        <input type="checkbox" checked="">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-xs btn-warning" title="Cập nhật"><i class="material-icons">edit</i></button>
                                                    <button type="button" class="btn btn-xs btn-danger" title="Xóa mẫu"><i class="material-icons">delete</i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">4</th>
                                                <td>Mẫu câu chuyện 04</td>
                                                <td>Trẻ cấp 2</td>
                                                <td>11/11/2012</td>
                                                <td>
                                                    <label class="iswitch bg-accent ">
                                                        <input type="checkbox" checked="">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-xs btn-warning" title="Cập nhật"><i class="material-icons">edit</i></button>
                                                    <button type="button" class="btn btn-xs btn-danger" title="Xóa mẫu"><i class="material-icons">delete</i></button>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <td>Mẫu câu chuyện 05</td>
                                                <td>Trẻ cấp 2</td>
                                                <td>11/11/2018</td>
                                                <td>
                                                    <label class="iswitch bg-accent ">
                                                        <input type="checkbox" checked="">
                                                        <i></i>
                                                    </label>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-xs btn-warning" title="Cập nhật"><i class="material-icons">edit</i></button>
                                                    <button type="button" class="btn btn-xs btn-danger" title="Xóa mẫu"><i class="material-icons">delete</i></button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 ">
                                <span class="form-label-custom">
                                    Số bản ghi/trang:
                                </span>
                                <select style="width: 120px;" class="form-control ng-pristine ng-valid ng-touched">
                                    <option label="10 bản ghi" selected="selected">10 bản ghi</option>
                                    <option label="15 bản ghi">15 bản ghi</option>
                                    <option label="20 bản ghi">20 bản ghi</option>
                                    <option label="30 bản ghi">30 bản ghi</option>
                                    <option label="40 bản ghi">40 bản ghi</option>
                                    <option label="50 bản ghi">50 bản ghi</option>
                                </select>
                            </div>
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
                                <ul class="pagination-sm pagination ng-isolate-scope ng-valid">
                                    <!-- ngIf: ::boundaryLinks -->
                                    <li class="pagination-first ng-scope disabled"><a class="ng-binding">Đầu tiên</a></li>
                                    <li class="pagination-prev ng-scope disabled"><a class="ng-binding">Trước</a></li>
                                    <li class="pagination-page ng-scope active"><a>1</a></li>
                                    <li class="pagination-page ng-scope"><a class="ng-binding">2</a></li>
                                    <li class="pagination-page ng-scope"><a class="ng-binding">3</a></li>
                                    <li class="pagination-page ng-scope"><a class="ng-binding">4</a></li>
                                    <li class="pagination-page ng-scope"><a class="ng-binding">5</a></li>
                                    <li class="pagination-next ng-scope" style=""><a class="ng-binding">Kế tiếp</a></li>
                                    <li class="pagination-last ng-scope" style=""><a class="ng-binding">Cuối cùng</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 margin-bottom-10">
                                <hr class="margin-bottom-10 margin-top-0" />
                                <button class="btn btn-xs btn-info"><i class="material-icons">attach_file</i></button>&nbsp;<small class="padding-right-20">Tải file đính kèm</small>
                                <button class="btn btn-xs btn-warning"><i class="material-icons">edit</i></button>&nbsp;<small class="padding-right-20">Cập nhật</small>
                                <button class="btn btn-xs btn-danger"><i class="material-icons">delete</i></button>&nbsp;<small class="padding-right-20">Xóa mẫu</small>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

