@model ChildFund.Controllers.ModelContent
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="wrapper main-wrapper">
    <div ui-view="" class="ng-scope">
        <div class="content-wrapper">

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <section class="box ">
                    <header class="panel_header">
                        <h2 class="title pull-left">Thêm mới người dùng</h2>
                        <div class="actions panel_actions pull-right">
                            <i class="box_toggle material-icons">expand_more</i>
                        </div>
                    </header>
                    <div class="content-body padding-bottom-10">
                        <div class="row">
                            <div class="col-md-9 col-sm-9 col-xs-9 no-padding"> 
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="form-group">
                                        <label class="form-label">Tài khoản đăng nhập</label>

                                        <div class="controls">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="form-group">
                                        <label class="form-label">Họ tên</label>

                                        <div class="controls">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="form-group">
                                        <label class="form-label">Ngày sinh</label>

                                        <div class="controls">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="form-group">
                                        <label class="form-label">Giới tính</label>

                                        <div class="controls">
                                            <label class="icheck icheck-primary">
                                                <input type="radio" value="">
                                                <i></i> Nam
                                            </label>&nbsp;
                                            <label class="icheck icheck-accent">
                                                <input type="radio" value="">
                                                <i></i> Nữ
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="form-group">
                                        <label class="form-label">Email</label>

                                        <div class="controls">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="form-group">
                                        <label class="form-label">Điện thoại</label>

                                        <div class="controls">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="form-group">
                                        <label class="form-label">Cơ quan</label>

                                        <div class="controls">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3 col-sm-3 col-xs-3">
                                    <div class="form-group">
                                        <label class="form-label">Chức vụ</label>

                                        <div class="controls">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="form-label">Ghi chú</label>

                                        <div class="controls">
                                            <textarea class="form-control" cols="5"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3 no-padding">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label class="form-label">Ảnh đại diện</label>

                                        <div class="controls text-center">
                                            <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()">
                                                <span class="glyphicon glyphicon-upload"></span> Upload
                                            </button>
                                            <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()">
                                                <span class="glyphicon glyphicon-trash"></span> Xóa
                                            </button>
                                        </div>
                                        <div class="controls text-center margin-top-10">
                                            <img src="~/img/logo.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <section class="box margin-top-0">
                    <header class="panel_header">
                        <h2 class="title pull-left">Phân quyền tài khoản</h2>
                        <div class="actions panel_actions pull-right">
                            <i class="box_toggle material-icons">expand_more</i>
                        </div>
                    </header>
                    <div class="content-body padding-bottom-0">
                        <div class="row margin-bottom-5">
                            <div class="col-md-6 col-sm-6 col-xs-6 text-left">
                                <div class="col-md-2 col-sm-2 col-xs-2 no-padding">
                                    <label class="form-label padding-top-10">Nhóm quyền</label>
                                </div>
                                <div class="col-md-6 col-sm-6 col-xs-6 no-padding">
                                    <div class="controls">
                                        <select class="form-control ">
                                            <option value="Default Select">Chọn</option>
                                            <option value="Option 1">Option 1</option>
                                            <option value="Option 2">Option 2</option>
                                            <option value="Option 3">Option 3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                <h4>
                                    Tổng số <b class="badge badge-primary">10</b> quyền (<span class="text-primary">Đã chọn: <b>3</b></span> - <span class="text-danger">Chưa chọn: <b>7</b></span>)
                                </h4>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="margin-bottom-10">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th width="50px">#</th>
                                                <th>Mã quyền</th>
                                                <th>Tải hồ sơ</th>
                                                <th width="60px">
                                                    <label class="icheck icheck-primary">
                                                        <input type="checkbox" value="" checked="">
                                                        <i></i>
                                                    </label>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th scope="row">1</th>
                                                <td>QL0001</td>
                                                <td>Quản lý hồ sơ</td>
                                                <td>
                                                    <label class="icheck icheck-primary">
                                                        <input type="checkbox" value="" checked="">
                                                        <i></i>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">2</th>
                                                <td>QL0002</td>
                                                <td>Cập nhật hồ sơ</td>
                                                <td>
                                                    <label class="icheck icheck-primary">
                                                        <input type="checkbox" value="" checked="">
                                                        <i></i>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">3</th>
                                                <td>QL0003</td>
                                                <td>Xóa hồ sơ</td>
                                                <td>
                                                    <label class="icheck icheck-primary">
                                                        <input type="checkbox" value="" checked="">
                                                        <i></i>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">4</th>
                                                <td>QL0004</td>
                                                <td>Quản lý người dùng</td>
                                                <td>
                                                    <label class="icheck icheck-primary">
                                                        <input type="checkbox" value="" checked="">
                                                        <i></i>
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th scope="row">5</th>
                                                <td>QL0005</td>
                                                <td>Quản lý nhóm quyền</td>
                                                <td>
                                                    <label class="icheck icheck-primary">
                                                        <input type="checkbox" value="" checked="">
                                                        <i></i>
                                                    </label>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12 text-right">
                                <div class="form-group margin-bottom-10 ">
                                    <a href="/home/danhsachca">
                                        <button class="btn btn-success btn-icon right10">
                                            <i class="fa fa-save "></i> &nbsp; <span>Lưu</span>
                                        </button>
                                    </a>
                                    <button class="btn btn-default btn-icon">
                                        <i class="fa fa-power-off"></i> &nbsp; <span>Thoát</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

