@{
    Layout = "~/Views/Shared/_LayoutAuthorize.cshtml";
}
<style>
    input[type="text"] {
        padding-left: 10px;
    }
</style>
<div class="content" id="authorize" style="width:50%">
    <h2 style="font-size:18px;font-weight:700">Xác nhận và thay đổi mật khẩu/Confirm and change password</h2>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
                <label class="form-label">Mã xác nhận/Confirm code <span class="required">*</span></label>
                <div class="controls">
                    <input type="text" class="form-control" id="ConfirmForwardPassword_ConfirmKey" ntsvalidate="required">
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
                <label class="form-label">Mật khẩu mới/New password <span class="required">*</span></label>
                <div class="controls">
                    <input type="password" class="form-control" id="ConfirmForwardPassword_PasswordNew" ntsvalidate="required,min=6">
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
                <label class="form-label">Xác nhận mật khẩu mới/Confirm new password <span class="required">*</span></label>
                <div class="controls">
                    <input type="password" class="form-control" id="ConfirmForwardPassword_ConfirmPasswordNew" ntsvalidate="required,min=6">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <input type="button" id="btnConfirmForwardPassword" value="ĐỔI MẬT KHẨU/CHANGE PASSWORD">
        </div>
    </div>
</div>
