@{
    ViewBag.Title = "Quản lý hồ sơ trẻ cập nhật_RAM/ Manage RAMs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="wrapper main-wrapper">
    <div ui-view="" class="ng-scope">
        <div class="content-wrapper">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <section class="box ">
                    <header class="panel_header">
                        <h2 class="title pull-left">Tìm kiếm/Search</h2>
                        <div class="actions panel_actions pull-right">
                            <i class="box_toggle material-icons">expand_more</i>
                        </div>
                    </header>
                    <div class="content-body padding-bottom-10">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                                <div class="form-group">
                                    <label class="form-label">Mã chương trình/Program code</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <select class="form-control" id="programCodeSearch">
                                            <option value="">Tất cả/All</option>
                                            <option value="199">199</option>
                                            <option value="213">213</option>
                                        </select>
                                        @*<input type="text" class="form-control" id="programCodeSearch">*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                                <div class="form-group">
                                    <label class="form-label">MST/Child number</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <input type="text" class="form-control" id="nameSearch">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4" style="display:none">
                                <div class="form-group">
                                    <label class="form-label">Tỉnh/Province</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <select class="form-control" id="provinceIdSearch">
                                            @Html.Action("ProvinceByUser", "Combobox")
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                                <div class="form-group">
                                    <label class="form-label">Huyện/District</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <select class="form-control" onchange="ChangeDistrict()" id="districtIdSearch">
                                            <option value="">Tất cả/All</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                                <div class="form-group">
                                    <label class="form-label">Xã/Commune</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <select class="form-control" id="wardIdSearch">
                                            <option value="">Tất cả/All</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-4">
                                <div class="form-group">
                                    <label class="form-label">Người tạo/Recorder</label>
                                    <span class="desc"></span>
                                    <div class="controls">
                                        <input type="text" class="form-control" id="createBySearch">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <div class="form-group">
                                    <label class="form-label">Ngày tạo từ/From</label>
                                    <div class="controls">
                                        <input id="dateFromSearch" type="text" class="form-control datepicker">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3">
                                <div class="form-group">
                                    <label class="form-label">Đến ngày/To</label>
                                    <div class="controls">
                                        <input id="dateToSearch" type="text" class="form-control datepicker">
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-6 text-right">
                                <div class="form-group margin-top-20">
                                    <button onclick="Search(0)" class="btn btn-success btn-icon right10">
                                        <i class="fa fa-search"></i> &nbsp; <span>Tìm kiếm/Search</span>
                                    </button>
                                    <button onclick="Refresh()" class="btn btn-default btn-icon">
                                        <i class="fa fa-refresh"></i> &nbsp; <span>Làm mới/Refresh</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-lg-12 col-md-12">
                <section class="box ">
                    <header class="panel_header">
                        <h2 class="title pull-left">Danh sách hồ sơ/Checklist</h2>
                        <div class="actions panel_actions pull-right">
                            <i class="box_toggle material-icons">expand_more</i>
                        </div>
                    </header>
                    <div class="content-body padding-bottom-10">
                        <div class="row margin-bottom-5">
                            <div class="col-md-3 col-sm-3 col-xs-3 text-left">
                                <h4>
                                    Tổng số hồ sơ/Total number<b class="badge badge-primary" id="count_data"></b>
                                </h4>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-9 text-right">
                                <button onclick="ExportStorySelect()" title="Tải hồ sơ/Download" class="btn btn-info btn-icon">
                                    <i class="fa fa-download"></i> Tải hồ sơ/Download
                                </button>
                                <button onclick="ConfimSelect()" title="Xuất Excel/Export to excel" class="btn btn-success btn-icon">
                                    <i class="fa fa-file-excel-o"></i> Duyệt/Approve
                                </button>

                                <button onclick="Search(1)" title="Xuất Excel" class="btn btn-warning btn-icon">
                                    <i class="fa fa-file-excel-o"></i> Xuất excel/export to excel
                                </button>
                                <a href="#" id="linkDowload"></a>
                                <textarea hidden id="dataListId"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="margin-bottom-10" id="list_data">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 margin-bottom-10">
                                <hr class="margin-bottom-10 margin-top-0" />
                                <button class="btn btn-xs btnfuntion" title="So sánh hồ sơ"><i class="material-icons btnicon" style="color:aqua">compare</i></button>&nbsp;
                                <small class="padding-right-20">So sánh hồ sơ/Compare profiles</small>
                                <button class="btn btn-xs btnfuntion" title="Duyệt hồ sơ"><i class="material-icons btnicon" style="color:limegreen">assignment_turned_in</i></button>&nbsp;
                                <small class="padding-right-20">Duyệt hồ sơ/Approve</small>
                                <button class="btn btn-xs btnfuntion" title="Khóa hồ sơ">
                                    <i class="material-icons btnicon" style="color:red">lock</i>
                                </button>&nbsp;<small class="padding-right-20">Khóa hồ sơ/Lock</small>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<div id="modamConfim" class="modal fade" role="dialog" onscroll="scroll" data-backdrop="static" style="background-color: rgba(0,0,0,0.3)">
    <div class="modal-dialog" style="width:500px">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="h4Title">Cảnh báo xác nhận/Comfirmation</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label id="labelConfim"></label>
                            <input type="hidden" id="valueConfim" />
                        </div>
                    </div>
                </div>
                <hr />
                <div class="modal-footer">
                    <button type="button" onclick="Confim()" class="btn btn-primary" id="btn-createContinue"><i class="glyphicon glyphicon-floppy-save"></i>Đồng ý/OK</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal"><i class="glyphicon glyphicon-minus-sign"></i> Thoát/Exit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/ScriptControllers/ProfileUpdateListWardControllers.js"></script>
<script>
    window.onload = ChangeProvince();
</script>