<div id="modalViewContent" class="modal fade" role="dialog" tabindex="-1" onscroll="scroll" data-backdrop="static" style="background-color: rgba(0,0,0,0.3)">
    <div class="modal-dialog modal-sm" style="width:90%">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="closePopupContent()">&times;</button>
                <h4 class="h4Title">@InformationHub.Resource.Resource.Content_Title</h4>
            </div>
            <input type="hidden" id="ReportProfileId" />
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="form-group">
                            <input type="hidden" id="idInput" />
                            <label>@InformationHub.Resource.Resource.Content_Title</label>&nbsp;
                            <div class="controls">
                                <textarea name="contentNote" id="contentNote"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal"onclick="SavePopup()"><i class="fa fa-save "></i> @InformationHub.Resource.Resource.Save_Title</button>
                <button type="button" class="btn btn-danger" onclick="closePopupContent()"><i class="glyphicon glyphicon-minus-sign"></i> @InformationHub.Resource.Resource.Exit_Title</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function createEditor(languageCode, id) {
        var editor = CKEDITOR.replace(id, {
            language: 'vi',
            toolbar: 'Basic'
        });
    }
    $(function () {
        createEditor('vi', 'contentNote');
    });
</script>
<style>
    .cke_contents {
        height: 400px !important
    }
</style>