@model IList<ChildProfiles.Model.Model.Question.GroupQuestionModel>
@{ string id = "";}
@foreach (var item in Model)
{
    id = Guid.NewGuid().ToString();
    <div class="row-survey" id="row-survey_@id">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
                <label class="text-danger" style="font-weight:bold">Tên chủ đề</label>
                <div class="controls">
                    <input disabled type="text" placeholder="Chủ đề" value="@item.Name" class="form-control input-custom survey-item">
                </div>
            </div>
            <hr />
        </div>
        @Html.Action("GenQuestionResult", "SurveyResult", new { nameGroup = id, ListQuestion = item.ListQuestion })
    </div>
}

